.banner {
    margin-bottom: 10px;
    margin-top: 10px;
    h4 {
        color: rgba($color-gray, .5);
        font-size: 12px;
        letter-spacing: 1.2px;
        margin-top: 10px;
        text-transform: uppercase;
    }
}