.site-footer {
    background-color: $color-gray;
    color: $color-white;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
}

.footer__creds {
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}